/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    background-color:#2d2a2d;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.page-header:hover {
    cursor: pointer;
    opacity: 0.8;
}

.progress-container {
    width: 100%;
    height: 4px; /* Высота прогресс-бара */
    background-color: rgba(18, 226, 50, 0.8); /* Цвет фона */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: rgba(241, 48, 50, 0.8); /* Цвет заполнения */
    width: 50%; /* Изначально заполнение 0% */
    transition: width 0.1s; /* Плавное изменение ширины */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
    left: -10px;
    display: grid;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: repeat(6, 48px);
    gap: 5px;
    background-color: #363436;
}

.grid::before {
    content: "";
    position: absolute;
    top: 106px;
    right: -5px;
    transform: translateX(100%);
    width: 24px;
    height: 48px;
    background-color: #363436;
}

.grid::after {
    content: "";
    position: absolute;
    top: 106px;
    right: -5px;
    transform: translateX(100%);
    width: 24px;
    height: 48px;
    background-color: #3d3b24;
    mask-image: url("./arrow.png");
    mask-repeat: no-repeat;
    mask-size: 150%;
    mask-position: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 2px;
}

.block:hover {
    cursor: pointer;
    opacity: 0.8;
}

.block:active {
    opacity: 0.5;
}


.block.red {
    background: url("./red.svg");
    background-color: rgba(252, 20, 18, 0.1);
    background-size: 100% 100%;
}

.block.green {
    background: url("./green.svg");
    background-color: rgba(0, 254, 100, 0.1);
    background-size: 100% 100%;
}

.block.key {
    background: url("./key.svg");
    background-color: #3d3b24;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}


/* Timer */
.timer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
}

.timer a:active {
    opacity: 0.7;
}

.tg-link img {
    display: block;
    width: 30px;
    height: 30px;
}

.hamster-link img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    color: white;
    background-color: #363436;
    font-size: 32px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid gray;
    cursor: pointer;
}

.refresh:active {
    background-color:rgba(18, 226, 50, 0.1);
}

.timer__text {
    margin: 0;
}

.timer__value {
    padding: 5px;
    border-radius: 3px;
}

.timer__value--stopped {
    font-weight: 700;
}

.video-wrapper {
    width: fit-content;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .grid {
        left: 0;
        grid-template-columns: repeat(6, 90px);
        grid-template-rows: repeat(6, 90px);
    }

    .grid::before {
        top: 210px;
        right: -5px;
        width: 50px;
        height: 100px;
    }
    
    .grid::after {
        top: 210px;
        right: -5px;
        width: 50px;
        height: 100px;
    }

    /* .timer {
        font-size: 26px;
    } */
}
