/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    background-color:#2d2a2d;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.page-header:hover {
    cursor: pointer;
    opacity: 0.8;
}

.progress-container {
    width: 100%;
    height: 4px; /* Высота прогресс-бара */
    background-color: rgba(18, 226, 50, 0.8); /* Цвет фона */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: rgba(241, 48, 50, 0.8); /* Цвет заполнения */
    width: 50%; /* Изначально заполнение 0% */
    transition: width 0.1s; /* Плавное изменение ширины */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
    left: -10px;
    display: grid;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: repeat(6, 48px);
    gap: 5px;
    background-color: #363436;
}

.grid::before {
    content: "";
    position: absolute;
    top: 106px;
    right: -5px;
    transform: translateX(100%);
    width: 24px;
    height: 48px;
    background-color: #363436;
}

.grid::after {
    content: "";
    position: absolute;
    top: 106px;
    right: -5px;
    transform: translateX(100%);
    width: 24px;
    height: 48px;
    background-color: #3d3b24;
    mask-image: url("./arrow.png");
    mask-repeat: no-repeat;
    mask-size: 150%;
    mask-position: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 2px;
}

.block:hover {
    cursor: pointer;
    opacity: 0.8;
}

.block:active {
    opacity: 0.5;
}


.block.red {
    background: url("./red.svg");
    background-color: rgba(252, 20, 18, 0.1);
    background-size: 100% 100%;
}

.block.green {
    background: url("./green.svg");
    background-color: rgba(0, 254, 100, 0.1);
    background-size: 100% 100%;
}

.block.key {
    background: url("./key.svg");
    background-color: #3d3b24;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}


/* Timer */
.timer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
}

.timer a:active {
    opacity: 0.7;
}

.tg-link img {
    display: block;
    width: 30px;
    height: 30px;
}

.hamster-link img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #363436;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.refresh::before {
  content: "";
  width: 25px;
  height: 25px;

  background-image: url("./refresh.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.refresh:active {
    background-color:rgba(18, 226, 50, 0.1);
}

.timer__text {
    margin: 0;
}

.timer__value {
    padding: 5px;
    border-radius: 3px;
}

.timer__value--stopped {
    font-weight: 700;
}

.video-wrapper {
    width: fit-content;
    margin: 0 auto;
}

/* Spinner */

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lds-grid {
    /* change color here */
    color: #ffffff;
    margin: 0 auto;
}
.lds-grid,
.lds-grid div {
box-sizing: border-box;
}
.lds-grid {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-grid div {
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
background: currentColor;
animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
top: 8px;
left: 8px;
animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
top: 8px;
left: 32px;
animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
top: 8px;
left: 56px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
top: 32px;
left: 8px;
animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
top: 32px;
left: 32px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
top: 32px;
left: 56px;
animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
top: 56px;
left: 8px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
top: 56px;
left: 32px;
animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
top: 56px;
left: 56px;
animation-delay: -1.6s;
}
@keyframes lds-grid {
0%, 100% {
    opacity: 1;
}
50% {
    opacity: 0.5;
}
}



.gift {
    cursor: pointer;
    position: relative;
}

.keys {
    transform: rotate(135deg);
}

.donate {
    cursor: pointer;
    position: relative;
    font-size: 32px
}

.quest-counter {
    position: absolute;
    top: -10px;
    /* top: 16px; */
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    /* background-color: #363436;
    border-radius: 50%;
    padding: 5px; */
    font-size: 16px;
    line-height: 16px;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.animate {
    animation: scaleAnimation 1s infinite;
}

/* Стили для модального окна */
.modal {
    display: block; /* Скрыть модальное окно по умолчанию */
    position: fixed; /* Оставить модальное окно на одном месте */
    z-index: 1; /* Разместить модальное окно поверх остальных элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включить прокрутку, если содержимое больше окна */
    background-color: rgba(0, 0, 0, 0.5); /* Черный фон с прозрачностью */
}

#gift-modal {
    z-index: 10;
}

/* Стили для содержимого модального окна */
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    background-color: rgba(200,200,200, 0.85);
    margin: 15% auto; /* Центрирование модального окна */
    padding: 20px;
    padding-bottom: 40px;
    border: 1px solid #888;
    width: 90%; /* Ширина модального окна */
    max-height: 90vh;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
    color: #111;
}

.modal h2 {
    margin: 0;
    font-size: 30px;

}

.modal p {
    margin: 0;
    text-align: center;
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.modal__hamster-link {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background-color: #f1f1f1;
    /* margin-top: 20px; */
}

/* Стили для кнопки закрытия */
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.close::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Модальное окно заданий */
.quest-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.quest-item {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 2px;
}

p.quest-text {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    text-align: start;
}

p.description {
    padding: 10px;
    text-align: start;
    background-color: transparent;
}

.quest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0 5px 5px 0;
    border: 0;
    cursor: pointer;
    min-height: 50px;
    width: 50px;
    background-color: #f1f1f1;
}

.quest-button::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("images/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.quest-button--link::before {
    background-image: url("images/link.png");
}

.quest-button--done {
    background-color: rgba(10, 250, 100, 0.7);
}

.quest-button--done::before {
    background-image: url("key.svg");
    transform: rotate(135deg);
}

/* Модальное окно наград */
.copy-button::before {
    background-image: url("images/copy.svg");
}

.copy-button--copied::before {
    background-image: url("images/check.svg");
}

#gift-modal .copy-button {
    min-height: 40px;
    width: 40px;
}

#gift-modal .quest-text {
    font-size: 14px;
}


@media (min-width: 768px) {
    .grid {
        left: 0;
        grid-template-columns: repeat(6, 90px);
        grid-template-rows: repeat(6, 90px);
    }

    .grid::before {
        top: 210px;
        right: -5px;
        width: 50px;
        height: 100px;
    }
    
    .grid::after {
        top: 210px;
        right: -5px;
        width: 50px;
        height: 100px;
    }

    .modal-content {
        width: 500px;
        top: 20%;
    }
}

.hidden {
    display: none;
}
